@font-face {
	font-family: "Gidole";
	src: url("https://github.com/duemunk/sans/raw/master/Releases/WebFont/gidole-regular.eot");
}

* {
	padding: 0;
	margin: 0;
}

@keyframes colors {
	0% { background-color: #CACF85; }
	25% { background-color: #8CBA80; }
	50% { background-color: #658E9C; }
	75% { background-color: #4D5382; }
	100% { background-color: #ECF39E; }
	
}

body {
	display: flex;
	animation: colors .2s infinite linear alternate;
}

#card {
	font-family: "Gidole";
	width: 450px;
	height: 320px;
	border: 1px solid #000;
	box-shadow: 3px 3px 0 #000;
	position: relative;
	margin: auto;
	color: #EEE;
	background-color: #444;
}

a {
	text-decoration: none;
	transition: 0.2s;
	color: #CCC;
}

#logo {
	margin: 30px;
	display: inline-block;
}

#logo img {
	width: 3rem;
	height: auto;
	margin: 5px 5px 5px 5px;
	float: left; 
}

#logo #name {
	font-size: 3rem;
	margin: 5px;
	border-left: 3px solid #EEE;
	padding-left: 10px;
}

#links {
	font-size: 1.45rem;
	position: absolute;
	top: 30px;
	right: 40px;
	list-style: none;
	text-align: right;
}

#links li {
	padding: 5px;
}

#twitter { color: #b1f0ff; }
#github { color: #e9e9e9; }
#email { color: #dfbaf2; }
#imgboard { color: #d8f0ff; }
#medium { color: #d1ffe5; }
#steam { color: #979797; }
#lastfm { color: #ffdbde; }

#twitter:hover,
#github:hover,
#email:hover,
#imgboard:hover,
#medium:hover,
#steam:hover,
#lastfm:hover {
	transition: 0.2s;
	color: #CCC;
}

#description {
	margin: 0 30px;
	font-size: 1.2rem;
	line-height: 1.15rem;
	color: #EEE;
}

#powered {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #888;
}


