/* Font boilerplate */
@font-face {
  font-family: "Archivo Black";
  src: local("Archivo Black Regular"),
    url("/assets/fonts/ArchivoBlack-Regular.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter"), local("Bitter Regular"),
    url("/assets/fonts/Bitter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter Italic"),
    url("/assets/fonts/Bitter-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter Bold"),
    url("/assets/fonts/Bitter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter Bold Italic"), local("Bitter BoldItalic"),
    url("/assets/fonts/Bitter-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: local("IBM Plex Mono Text"), local("IBMPlexMono-Text"),
    url("/assets/fonts/IBMPlexMono-Text.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}


/* Here we go */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  color: #ddd;
  background-color: #333;
}

#about-page {
  background:
    fixed
    #161616
    url("/assets/images/terezin-tunnel.jpg")
    center no-repeat
    ;
}

#blog-page {
  background-color: #183935;
}

#legal-page {
  background-color: #3b331a;
}

#blog-post-page {
  background-color: #413e34;
}

#blog-post-page nav a.selected {
  background-color: rgba(0,0,0,.2);
}

body {
  height: 100vh;

  font-size: 20px;
  font-family: "Bitter", serif;

  line-height: 1.5em;

  /* Borders around the edges of the page at thinner screen sizes */
  margin: 0 1em;
}

@media (max-width: 600px) {
  body {
    font-size: 18px;
  }
}



a {
  text-decoration: unset;
  color: inherit;
  box-shadow: inset 0 -.4em rgba(200,255,0,.4);
}

a:hover {
  background-color: rgba(200,255,0,.4);
  box-shadow: none;
}


.body-container {
  max-width: 700px;

  margin: auto;
  min-height: 100%;
  overflow-y: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.body-container>header {
  width: 100%;
  margin: 1em 0;
}

.body-container>header>nav {
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
}

nav li {
  list-style: none;
  display: inline-block;

  margin-right: 1em;

  /* So that if the screen is very small and
     the links many there's some space between
     rows of links. */
  margin-top: .5em;
}

nav a {
  box-shadow: none;
  border-bottom: 2px solid;
  padding: 0 .3em .1em;
}

nav a.selected {
  background-color: rgba(255,255,255,.2);
}

nav a:hover {
  /* The rule above trumps the general one set above, so we need to reset it
     here. */
  background-color: rgba(200,255,0,.4);
}

.text {
  line-height: 1.75em;
}

figure {
  text-align: center;
}

figure img {
  max-width: 100%;
  max-height: 700px;
  height: auto;
}

figcaption {
  font-size: .8em;
  font-style: italic;
  padding: .2em .4em;
  line-height: 1.5em;
  text-align: left;
}

pre {
  overflow-y: auto;
  background-color: #333;
  padding: .3em .6em;
  line-height: 1.5em;
}

code {
  font-size: .8em;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}

.text code {
  font-size: .9em;
  padding: .1em .2em;
  box-decoration-break: clone;
  background-color: #333;
}

main > header {
  font-family: "Archivo Black", sans-serif;
  margin-top: 1.5em;
  font-size: 1.2em;
}

.body-container>main {
  margin-bottom: auto;
  width: 100%;
}

main > header,
.text p,
figure,
pre,
.post-list .post {
  margin: .8em 0;
}


.post-list .post .name {
  font-weight: bold;
  margin-right: .5em;
}

.post-list .post .date {
  font-size: .75em;
}


.table {
  display: grid;
  grid: auto / max-content 1fr;
  grid-gap: 0 1em;
  font-size: .85em;
}

/* I should probably use classes here */
.table div:nth-child(2n+1) {
  text-align: right;
  font-weight: bold;
}

@media (max-width: 500px) {
  .table {
    grid: auto / 1fr;
  }

  .table div:nth-child(2n+1) {
    text-align: initial;
  }

  .table div:nth-child(2n) {
    padding-left: .5em;
  }
}


.body-container>footer {
  margin: 1em;
  font-size: .8em;
  font-style: italic;
}
