<svg
   version="1.1"
   viewBox="0 0 79 49"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"
>
  <title>Steen's online burrow</title>
  <g fill="currentColor">
    <g>
      <path d="M 17,7 V 9 H 15 V 8 h -1 v 3 h 1 v 1 h 2 v 1 h 4 V 9 H 20 V 8 H 19 V 5 h 1 V 4 h 1 V 3 h 4 v 1 h -3 v 3 h 1 v 1 h 1 v 4 h -1 v 1 h -1 c 0,0 0,1 0,1 H 16 V 13 H 13 V 12 10 H 12 V 8 h 1 V 7 Z" />
      <path d="m 30,5 v 1 h 2 V 5 h 3 v 1 h -2 v 1 h -2 v 4 h -1 v 1 h -1 v 1 h -1 c 0,0 0,2 0,2 h -1 c 0,0 0,1 0,1 h -1 v -3 h 1 v -2 h 1 V 7 H 26 V 6 H 24 V 5 Z" />
      <path d="m 39,5 v 2 h -1 c 0,0 0,1 0,1 h -1 c 0,0 0,1 0,1 h -2 v 1 h 4 c 0,0 0,2 0,2 h -2 v -1 h -3 v 1 h -1 v 2 h 2 v -1 h 3 v 1 h 1 v 1 h 1 c 0,0 0,1 0,1 h -2 v -1 h -4 c 0,0 0,1 0,1 h -4 v -1 h 1 v -2 h 1 v -2 h 1 V 8 h 3 V 7 h 1 V 6 h 1 V 5 Z" />
      <path d="m 42,5 v 1 h 1 v 1 h 1 v 1 h 1 v 1 h 2 v 1 H 44 V 9 h -1 v 2 h 3 v 1 h -2 v 1 h -1 v 1 h 2 v -1 h 2 v 2 h -4 c 0,0 0,1 0,1 h -2 v -2 h 1 V 9 H 41 V 7 H 40 V 5 Z" />
      <path d="m 48,6 v 2 h 1 v 4 h 1 c 0,0 0,2 0,2 h -1 v 3 c 0,0 1,0 1,0 v -1 h 1 v -2 h 1 v -2 h 1 v 1 h 1 v 1 h 1 v 1 h 2 V 14 H 56 V 9 h 1 V 7 h 1 V 5 h 1 V 4 h 1 V 2 h -1 v 1 h -2 v 1 h -1 v 4 h -1 v 4 H 54 V 11 H 53 V 10 H 51 V 8 H 50 V 7 H 49 V 6 Z" />
      <path d="m 61,0 v 1 h 1 v 3 h 2 V 2 H 63 V 0 Z" />
      <path d="m 67,4 v 1 h -1 v 2 h 1 c 0,0 0,3 0,3 h -1 v 1 c 0,0 -4,0 -4,0 v -1 h 2 V 9 h 1 V 8 H 64 V 5 h 1 V 4 Z" />
    </g>
    <g>
      <path d="m 26,22 h 3 v -1 h -3 z" />
      <path d="m 31,20 v 1 h 1 v 1 h 1 v -2 z m 1,2 h -1 v -1 h -1 v 2 h 2 z" />
      <path d="m 34,20 v 3 h 1 v -2 h 1 v 2 h 1 v -2 h -1 v -1 z" />
      <path d="m 38,19 v 4 h 1 v -4 z" />
      <path d="m 40,19 v 1 h 1 v -1 z" />
      <path d="m 40,21 v 2 h 1 v -2 z" />
      <path d="m 42,23 v -3 h 2 v 1 h 1 c 0,0 0,2 0,2 h -1 v -2 h -1 v 2 z" />
      <path d="m 46,21 v 2 h 1 v 1 h 1 v -1 h -1 v -2 h 1 v 1 h 1 v -2 h -2 v 1 z" />
      <path d="m 50,21 c 0,0 0,1 0,1 h 3 v -1 z" />
    </g>
    <g>
      <path d="m 5,26 v 1 H 4 v 6 H 3 v 7 H 2 v 4 H 1 v 2 H 0 v 3 h 6 v -1 h 2 v -1 h 2 v -1 h 2 v -1 h 2 v -4 h -1 v -1 h -1 v -2 h 1 v -2 h 1 v -1 h 1 v -1 h 1 V 28 H 12 V 27 H 9 v -1 z m 2,4 h 2 v 1 h 3 v 2 h -1 v 1 h -1 v 1 H 9 v 1 H 8 v 1 H 6 V 36 H 7 Z M 6,41 h 2 v 1 h 2 v 1 H 8 v 1 H 6 v 1 H 5 v -2 h 1 z" />
      <path d="m 17,26 v 3 h 1 v 2 h -1 v 5 h -1 v 4 h -1 v 4 h 1 v 2 h 9 v -1 h 1 v -3 h 1 V 25 h -4 v 5 h 1 v 9 h -1 v 3 h -1 v 1 h -3 v -4 h 1 v -5 h 1 v -8 z" />
      <path d="m 28,27 v 5 h 1 v 2 h -1 v 14 h 3 V 38 h 1 v 4 h 1 v 4 h 1 v 2 h 3 v -5 h -1 v -4 h -1 v -5 h 3 v -6 h -2 v -1 z m 4,3 h 1 v 1 h -1 z" />
      <path d="m 40,27 v 21 h 3 V 37 h 1 v 1 h 1 v 1 h 1 v 1 h 1 v 2 h 1 v 1 h 1 v 2 h 4 v -3 h -1 v -1 h -1 v -2 h -1 v -1 h -1 v -1 h -1 v -9 h -2 v -1 z m 3,4 h 2 v 1 h -1 v 1 h -1 z" />
      <path d="m 52,27 v 1 h -1 v 1 h -1 v 7 h 1 v 1 h 1 v 1 h 1 v 1 h 5 v -1 h 2 v -1 h 1 v -8 h -1 v -1 h -4 v -1 z m 2,4 h 3 v 1 h 1 v 2 h -1 v 1 h -2 v -1 h -1 v -1 h -1 v -1 h 1 z" />
      <path d="m 63,25 v 4 h 1 v 16 h 4 v -1 h 1 v -1 h 1 v -2 h 2 v 1 h 2 v 1 h 1 v 1 h 4 v -5 h -1 v -3 h -1 v -2 h -1 v -2 h -1 v -2 h -1 v -2 h -1 v -3 h -1 v -1 h -3 v 4 h 1 v 3 h 1 v 2 h 1 v 2 h 1 v 2 h 1 v 1 h -1 v -1 h -4 v 1 H 67 V 26 h -1 v -1 z" />
    </g>
  </g>
</svg>
