{% extends "base.html" %}
{% import "macros.html" as m %}

{% block title %}#{{ term.name }} - {{ config.title }}{% endblock title %}

{% block content %}
<h1 class="tag-title"><a class="tag" href="{{ current_path }}">#{{ term.name }}</span></h1>
<ol class="posts content unstyled">
  {% for page in term.pages %}
  <li class="post">
    <header>
      <a href="{{ page.permalink | safe }}" class="unstyled">
        <h2>{{ page.title }}</h2>
      </a>
      <time datetime="{{ page.date }}">{{page.date}}</time>
      <span class="tags">{{ m::tags(taxonomies=page.taxonomies) }}</span>
    </header>
  </li>
  {% endfor %}
</ol>
{% endblock content %}


